<% provide(:title, "Sumbit your GPS data for post-processing") %>
<h1>Sumbit your GPS data for post-processing</h1>

<div class="row">
  <div class="span6 offset3">
    <section>
      <%= render 'form' %>
    </section>
  </div>
</div>