
<!DOCTYPE html>
<% provide(:title, 'About Differential GPS Corrections') %>
    <h1>About Differential GPS Corrections</h1>
    <h4> The concept of differential GPS corrections is fundamentally simple. Two collocated receivers suffer from similar (nearly identical) sources of error while utilizing civilian signals. Thus, two receivers using comparable multilateration algorithms will share common inaccuracies in their computed position. This concept allows geologically stable base stations to provide a vector correction for kinematic receivers (like yours) in a ~100 km radius. </h4>

   <div>
   	<h1>
   	<%= link_to image_tag("uml - class diagram.png",size: "640x600"), root_path%>
   </h1>
   </div>

    
    
