<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <p> Dominic Fuller-Rowell: Developer of the "Differential GPS Correction Engine" and webmaster.  Feel free to contact me with questions, comments, or issues at dominic.fuller-rowell@colorado.edu</p>
</p>